.body {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.body h3{
    font-size: 3vw;
}
.body p {
    font-size: 2.5vw;
}

/* ..........................................................Content................................................ */

.main-content {
    max-width: 1700px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
}
.slogan {
    margin: 20px 0;
    text-align: center;
}
.slogan img {
    width: 60%;
}

.row {
    width: 100%;
    margin: 0;
}
.content {
    padding: 0;
}
.product_item1 img {
    padding: 5px 5px 0 0;
}

.content-left {
    width: 100%;
    padding-right: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_item1 {
    margin-bottom: 10px;
    overflow: hidden;
    height: 100%;
}

.content_item1 img {
    width: 100%;
    transition: 0.5s;
    height: 100%;
}
.content-card {
    position: relative;
    transition: 0.5s ease-in-out;
    height: 100%;
}

.content_item1:hover img{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.content_item2 {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 77%;
}
.update {
    padding-right: 5px;
}
.update a {
    display: block;
    overflow: hidden;
}
.update img {
    width: 100%;
    transition: 0.5s;
}
.update:hover img{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.product_item1 {
    display: flex;
    justify-content: space-between;
}
.product_item1 a{
    display: block;
    overflow: hidden;
    width: 100%;
}
.product_item1:hover img {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.product_item1 img {
    width: 100%;
    transition: 0.5s;
}
.firmware_update {
    width: 29%;
    background-color: #e3dfdf;
    padding: 10px;
}
.firmware_update p, h5 {
    color: black;
}
i.fas.fa-download {
    font-size: 24px;
    float: right;
    color: black    ;
}
.content-right {
    width: 100%;
    padding-left: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_item3 {
    display: flex;
}
.masterclass {
    width: 70%;
    overflow: hidden;
}

.masterclass img {
    width: 100%;
    transition: 0.5s;
}
.masterclass img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.content_item4 {
    padding: 10px 0;
}
.content_item4 img {
    width: 100%;
    height: 100%;
}
.product_item2 {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
    width: 30%;
}
.product_item2:hover img {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.product_item2 a {
    display: block;
    height: 49%;
    overflow: hidden;
}
.product_item2 img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.support {
    background-color: #e3dfdf;
    height: 49%;
    padding: 10px;
}
i.far.fa-comment-alt-lines {
    font-size: 24px;
    float: right;
    color: black;
}
@media (max-width: 576px) {
    .firmware_update p, h5 {
        font-size: 14px;
    }
    i.fas.fa-download, i.far.fa-comment-alt-lines {
        font-size: 18px;
    }
}
@media (max-width: 375px) {
    .firmware_update p, h5 {
        font-size: 8px;
    }
    
}

                                                            /* Book Show */
                                                            
.bookshow {
    width: 100%;
    max-width: 1700px;
    margin: auto;
    padding: 0px 20px;
}
div#tickets {
    max-width: 1700px !important;
    overflow: hidden;
    margin-bottom: 60px !important;
    border: none;
    border-radius: unset;
}

.col-md-6.ticket-left img {
    width: 100%;
    height: 100%;
    border-radius: unset !important;
}
p.card-text {
    margin: 5px 0;
}
.artistlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
}
.artist {
    text-align: center;
}
.artist h3 {
    font-size: 32px;
}
.artist p {
    margin: 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 2rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.125);
}

.card-body p {
    font-size: 20px;
}
button.bookbtn {
    width: 40%;
    height: 50px;
    border-radius: 15px;
    background: #212529c4;
    color: white;
    font-size: 24px;
}
button.bookbtn:hover {
    background: #2125294f;
}
@media (max-width: 1024px) {
    .card-body h5 {
        font-size: 24px;
    }
    .card-body p {
        font-size: 16px;
    }
    .artist h3 {
        font-size: 24px;
    }
    button.bookbtn {
        height: 40px;
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .card-body {
        padding: 1rem 1rem;
    }
    .card-body h5 {
        font-size: 20px;
    }
    .card-body p {
        font-size: 14px;
    }
    .artist h3 {
        font-size: 20px;
    }
    button.bookbtn {
        width: 35%;
        height: 30px;
        font-size: 16px;
    }
}
    
                                                        /* news */



