

.footer {
    background-color: black;
    color: white;
    max-width: 1700px;
    padding: 40px;
    margin: auto;
}

.footerLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}
img.footer-logo {
    max-width: 100%;
}
.footerNav-content {
    display: flex;
    margin: 20px 0;
    border: 1px solid white;
    padding: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.footerNav-content-1, .footerNav-content-2 {
    margin-right: 20px;
}

h3.footerNav-title {
    margin: 0;
}

ul.footerNav-list1 {
    list-style: none;
    padding: 0;
    column-count: 2;
    column-gap: 20px;
}
ul.footerNav-list {
    list-style: none;
    padding: 0;
}

ul.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.fa-instagram:hover {
    color: red;
}
.fa-soundcloud:hover {
    color: red;
}
.fa-youtube-square:hover {
    color: red;
}
.fa-facebook-square:hover {
    color: red;
}
.fa-twitter-square:hover {
    color: red;
}

li.social-item {
    padding: 20px;
}
@media (max-width: 768px) {
    .footerLogo {
        justify-content: center;
    }
}

