a {
    text-decoration: none;
    height: 100%;
    color: white;
    display: contents;
}
.brand {
    max-width: 1700px;
    margin: auto;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.brand_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand_slogan {
    width: 100%;
}
img.brandbanner {
    width: 100%;
    margin-bottom: 10px;
}

img.slogan-logo {
    width: 10%;
}

.brand-logo-list {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px;
}
.logo-row.row {
    justify-content: center;
}

.brand_item img {
    width: 100%;
}
