.allproduct {
    max-width: 1700px;
    margin: auto;
    padding: 40px;
    background: #80808014;
}
/* ...................Filter....................... */
.filter {
    background: #ffffff57;
    box-shadow: 5px 5px 10px #a3a1a1;
    border-radius: 20px;
    padding: 10px 20px;
}
.filter a {
    color: black;
}
.djequipment {
    padding-bottom: 15px;
}
.price p {
    margin: 0;
}
.ranger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ranger i.fas.fa-caret-up {
    color: black;
}
.price_item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.price_item input {
    margin-right: 10px;
}
i.far.fa-circle {
    padding-right: 20px;
}

/* ..........................Product List............................... */

.product-submenu {
    display: none;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .product-submenu {
        display: flex;
    }
    .filter {
        display: none;
    }
}

.dropdown-item {
    padding: 5px 0;
}
button#dropdownMenuButton1 {
    background: white;
    padding: 0 10px;
    color: black;
}
.test {
    padding: 0 15px;
    border: none;
}
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
}
ul.dropdown-menu.dropdown-menu-right.show {
    position: relative !important;
    top: -35px !important;
    left: 0 !important;
    background: white;
}
button.btn.btn-primary {
    padding: 0;
    background: white;
    color: black;
    margin: 5px 15px;
    border: none;
    text-align: left;
}
button.btn.btn-primary.collapsed {
    background: white;
    color: black;
    padding: 0;
    margin: 0 15px;
    border: none;
    margin-bottom: 5px;
}

.productlist {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0;
}
div#productlist_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 5px;
}
.product-card {
    display: flex;
    margin-bottom: 40px;
    margin-right: 10px;
    width: 223px;
    background: #ffffff57;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #a3a1a1;
    flex-direction: column;
    align-items: center;
}
.product_background {
    width: 60%;
    transition: 0.5s;
    padding: 10px 0;
}
.product-card-content {
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
    padding: 10px;
}
.product-card-content h5 {
    font-weight: 600;
    color: black;
    font-size: 18px;
}
.product-card-color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.product-card-color p {
    color: black;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
.product-card-color span {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid;
}
.product-card-color .circle-white{
    background: #fff
}
.product-card-color .circle-white.active{
    box-shadow: 0 0 0 1px rgb(221, 221, 221), 0 0 0 2px #0071C7;
    
}
.product-card-color .circle-black{
    background: black
}
.product-card-color .circle-black.active{
    box-shadow: 0 0 0 1px rgb(221, 221, 221), 0 0 0 2px #0071C7;
}
.product-card-price p {
    margin: 10px;
    color: black;
    font-size: 20px;
}
button.btn-cart {
    background: #000000;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(136 135 135 / 20%);
    margin-bottom: 20px;
}
button.btn-cart:hover {
    background: black;
}
div#paging a {
    color: black;
}
.card-body.test a {
    color: black;
}