.details {
    max-width: 1700px;
    margin: auto;
    background: #80808014;
}
.detail-card {
    display: block;
    background: rgb(208 208 208 / 20%);
    overflow: hidden;
    position: relative;
}
.detail-card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #68d9d5;
    clip-path: circle(35% at left 4%);
    right: 0;
    z-index: -1;
    top: 0;
}
.detail-card-top {
    display: flex;
}
.summary {
    margin: 60px 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}
.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
}
.sup_title {
    font-size: 18px;
    margin-bottom: 40px;
}
.item_color {
    margin-bottom: 10px;
}
button.colorwhite {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: white;
}
button.colorblack {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: black;
}
h3.cash {
    font-size: 30px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
button.btn.btn-outline-dark.btn-lg.buy {
    background: black;
    color: white;
    padding: 10px;
    width: 40%;
    margin: 20px 0;
    border-radius: 30px;
    justify-content: center;
}
button.btn.btn-outline-dark.btn-lg.addcart {
    color: black;
    padding: 10px;
    width: 55%;
    margin: 20px 0;
    border-radius: 30px;
    justify-content: center;
}


.producimageslide {
    margin: 60px 0 20px 0;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.producimages {
    background: rgb(255 255 255 / 70%);
    box-shadow: -15px 15px 15px 5px rgb(0 0 0 / 15%);
    border-radius: 20px;
    max-height: 440px;
    max-width: 600px;
}
.producimages img {
    width: 100%;
    transform: translate(0, -60px);
}

.small-images {
    display: flex;
    max-width: 500px;
    max-height: 95px;
    margin: 20px 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.small-image {
    width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: cover;
    max-width: 500px;
    max-height: 75px;
}
.small-images img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.detail-content {
    background: rgb(208 208 208 / 20%);
    overflow: hidden;
}

.detail-content a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.detail-content-left {
    padding: 40px;
    color: black;
    font-size: 16px;
}
.col-lg-3.col-sm-12.detail-content-left h3 {
    font-size: calc(14px + (20 - 14) * ((60vw - 200px) / (1200 - 300)));
}

.detail-content-right {
    padding: 40px;
}
.supcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.supcontent a {
    padding: 0 40px;
    margin: 10px;
}
.productcontent {
    background: rgb(255 255 255 / 13%);
    padding: 10px;
    color: black;
}
p.content_title {
    font-size: 20px;
    font-weight: 500;
}
.productcontent img {
    width: 100%;
    padding: 40px;
}
.bt-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt-group button {
    margin: 1px;
    border: none;
    background: white;
    padding: 5px;
    color: black;
    font-weight: 600;
    font-size: calc(14px + (26 - 14) * ((30vw - 140px) / (1200 - 300)));
}
button.btn.btn-warning.pr-bt.active-link {
    border-right: 1px solid black;
    border-radius: 0;
}
button.btn.btn-success.vip-bt {
    border-left: 1px solid black;
    border-radius: 0;
}
.bt-group button:hover {
    background: rgb(0 0 0 / 26%);
    border: 1px solid black;
}

.premium.content-panel h3, .usual.content-panel h3, .vip.content-panel h3 {
    margin: 20px 0 40px 0;
    font-size: calc(14px + (26 - 14) * ((70vw - 100px) / (1200 - 300)));
}

.usual.content-panel p, .usual.content-panel p, .vip.content-panel p {
    font-size: calc(14px + (18 - 14) * ((70vw - 250px) / (1200 - 300)));
}
.usual-bt-group.content-link {
    display: none;
}