.details {
    max-width: 1700px;
    margin: auto;
    background: #80808014;
}
.detail-card {
    display: block;
    margin: 0 40px;
    background: #000000de;
    overflow: hidden;
    position: relative;
}
.detail-card::before {
    content: '';
    width: 600px;
    height: 600px;
    position: absolute;
    background: #68d9d5;
    border-radius: 300px;
    right: -130px;
    z-index: 0;
    top: -150px;
}
.detail-card-top {
    display: flex;
}
.summary {
    margin: 60px 0;
    color: white;
    font-size: 14px;
    position: relative;
    left: 40px;
    height: fit-content;
}
.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
}
.sup_title {
    font-size: 18px;
    margin-bottom: 40px;
}
.item_color {
    margin-bottom: 10px;
}
button.colorwhite {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: white;
}
button.colorblack {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: black;
}
p.cash {
    font-size: 32px;
    margin-bottom: 20px;
}

.container {
    padding: 0;
}
.banner-btn {
    position: relative;
    width: 230px;
    height: 50px;
    margin: 40px 0;
    
}
.banner-btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0 0 0 / 15%);
    box-shadow: 3px 13px 35px;
    border-top: 1px solid rgb(255 255 255 / 77%);
    border-bottom: 1px solid rgb(255 255 255 / 77%);
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    z-index: 1;
}
.banner-btn:hover a {
    letter-spacing: 3px;
}
.banner-btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
}
.banner-btn:hover a::before {
    transform: skewX(45deg) translate(200%);
}
.banner-btn::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    width: 30px;
    height: 10px;
    background: mediumturquoise;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.banner-btn:hover::before{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.05s;
}
.banner-btn::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    width: 30px;
    height: 10px;
    background: mediumturquoise;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.banner-btn:hover::after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.05s;
}


.producimageslide {
    margin: 60px 0 60px 0;
    padding: 0 125px;
    z-index: 1;
}
.producimages {
    background: rgb(255 255 255 / 80%);
    box-shadow: -15px 15px 15px 5px rgb(0 0 0 / 25%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.producimages img {
    position: relative;
    bottom: 60px;
}
.detail-card-bottom {
    width: 52%;
    margin: 0 0 40px;
}
.supbanner {
    display: flex;
    width: 100%;
    margin: 0;
    left: 66%;
    position: relative;
}
.supbanner_item {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 5px;
    background: #d6d6d6;
    border-radius: 10px;
}
.supbanner img {
    width: 100%;
}
.detail-content {
    display: flex;
    margin: 0 40px 40px;
    background: #80808014;
    border-radius: 20px;
    box-shadow: -15px 15px 15px 5px rgb(0 0 0 / 25%);
    overflow: hidden;
    color: white;
}
.detail-content-left a {
    color: white;
    font-weight: 600;
}
.detail-content a {
    text-decoration: none;
    color: white;
}
.detail-content-left {
    width: 20%;
    padding: 40px;
    color: white;
    font-size: 14px;
}
.detail-content-right {
    width: 80%;
    margin-left: 20px;
}
.supcontent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.supcontent a {
    padding: 0 40px;
    margin: 10px;
}
.productcontent {
    background: rgb(255 255 255 / 80%);
    box-shadow: -15px 15px 15px 5px rgb(0 0 0 / 25%);
    margin: 20px 40px;
    padding: 20px;
    border-radius: 20px;
    color: black;
}
p.content_title {
    font-size: 20px;
    font-weight: 500;
}
.productcontent img {
    width: 100%;
    padding: 40px;
}